*.pyc
*_orc.c
*_orc.h
.cache
.DS_Store
.github/workflows/.*.built
.stbt-cflags
.stbt-ldflags
.stbt-prefix
.venv
__pycache__
_stbt/_libstbt.*.so
build/
docs/stbt.1
dist/
etc/stbt.conf
stb-tester-*.tar.gz
stbt-control-relay
stbt-controlc
stbt_core.egg-info/
TAGS
tests/stbt-debug-expected-output/*/*/*.png
tests/test-install
VERSION
