.DS_Store
.stbt-cflags
.stbt-ldflags
.stbt-prefix
stbt
*.pyc
stbt-controlc
stbt.1
stbt-debug
defaults.conf
irnetbox-proxyc
TAGS
VERSION
extra/vm/.vagrant
tests/test-install
nosetest-issue-49-workaround-stbt-control.py
extra/stb-tester.spec
stb-tester-*.tar.gz
debian-src-pkg/*/stb-tester_*
extra/debian/changelog
extra/stb-tester*.debian.tar.xz
stb-tester_*.deb
