# Note the implicit includes from setup.py: packages=["stbt", "_stbt"]
exclude _stbt/control.py
exclude _stbt/control_gpl.py
exclude _stbt/core.py
exclude _stbt/gst_hacks.py
exclude _stbt/gst_utils.py
exclude _stbt/irnetbox.py
exclude _stbt/power.py
exclude _stbt/sqdiff.py
exclude _stbt/stbt_run.py
exclude _stbt/x11.py
exclude _stbt/xxhash.py
