# Note the implicit includes from pyproject ("stbt_core" and "_stbt")
exclude _stbt/control.py
exclude _stbt/control_gpl.py
exclude _stbt/core.py
exclude _stbt/gst_hacks.py
exclude _stbt/gst_utils.py
exclude _stbt/irnetbox.py
exclude _stbt/power.py
exclude _stbt/stbt_run.py
exclude _stbt/xxhash.py
