<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>{{run.timestamp}} {{run.test_name}} @{{run.git_commit}}</title>
  <base target="_parent" />
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <style>
    #args,
    #failure-reason,
    .extra_columns,
    #notes { white-space: pre-wrap; }
    .thumbnail p { word-wrap: break-word; text-align: center; }
    .editable-click { border-bottom: none; }
    #delete,
    #deleted { margin-left: 1em; }
  </style>
</head>

<body>
<div class="container-fluid">
<div class="row-fluid">
<div class="span4">

<p><a id="permalink" href="">[Link to this result]</a>
<p><b>Timestamp:</b> {{run.timestamp}}

<p><b>Test:</b> {{run.test_name}} @{{run.git_commit}}
{% if run.test_args %}
  <p><b>Command-line arguments:</b></p>
  <p id="args">{{run.test_args}}</p>
{% endif %}

<p><b>Duration:</b> {{run.duration}}
<p><b>Exit status:</b> {{run.exit_status}}

{% if run.exit_status > 0 %}
  <p><b>Failure reason:</b></p>
  <p id="failure-reason">{{run.failure_reason}}</p>
{% endif %}

{% for key in run.extra_columns %}
  <p class="extra_columns"><b>{{key}}:</b> {{
    "\n".join(run.extra_columns[key])
  }}</p>
{% endfor %}

<p><b>Notes:</b></p>
<p id="notes">{{run.notes or "&nbsp;"}}</p>

<p><b>Logs:</b>
{% for f in run.files %}
  <p><a href="{{f}}">{{f}}</a>
{% endfor %}

<ul class="thumbnails">
{% for image in run.images %}
  <li class="span4">
    <div class="thumbnail">
      <a href="{{image}}"><img src="{{image}}" alt=""></a>
      <p>{{image}}</p>
    </div>
  </li>
{% endfor %}
</ul>

</div>
</div>
</div>

<!-- Failure reason etc are editable if the optional server is running. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<script src="/static/edit-testrun.js"></script>

</body>
</html>
