Source: stb-tester
Maintainer: William Manley <will@stb-tester.com>
Homepage: https://stb-tester.com
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: curl,
               debhelper (>= 9),
               expect,
               gir1.2-gstreamer-1.0,
               gir1.2-gudev-1.0,
               git,
               gstreamer1.0-libav,
               gstreamer1.0-plugins-bad,
               gstreamer1.0-plugins-base,
               gstreamer1.0-plugins-good,
               gstreamer1.0-tools,
               gstreamer1.0-x,
               librsvg2-bin,
               libxxhash0,
               lighttpd,
               moreutils,
               pep8 (>= 1.3.4),
               pylint,
               python-attr,
               python-docutils,
               python-gobject,
               python-jinja2,
               python-lmdb,
               python-lxml,
               python-networkx,
               python-mock,
               python-opencv,
               python-pysnmp4,
               python-qrcode,
               python-requests,
               python-serial,
               python-yaml,
               tesseract-ocr,
               tesseract-ocr-deu,
               tesseract-ocr-eng,
               v4l-utils,
               xdotool

Package: stb-tester
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         curl,
         gir1.2-gstreamer-1.0,
         git,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-tools,
         gstreamer1.0-x,
         libxxhash0,
         lsof,
         moreutils,
         pylint,
         python (>= 2.7),
         python-attr,
         python-gobject,
         python-jinja2,
         python-lmdb,
         python-lxml,
         python-networkx,
         python-opencv,
         python-pysnmp4,
         python-requests,
         python-serial,
         tesseract-ocr,
         tesseract-ocr-eng
Description: Automated User Interface testing for set-top boxes. 
 stb-tester tests a set-top-box by issuing commands (typically using an
 infrared transmitter) and checking that it has done the right thing by
 analysing what is on screen (typically using an HDMI video-capture card).
 Test scripts are written in Python.

Package: stb-tester-virtual-stb
Architecture: any
Depends: stb-tester (>> ${source:Upstream-Version}),
         gstreamer1.0-x,
         ratpoison,
         xdotool,
         xserver-xorg-input-void,
         xserver-xorg-video-dummy
Description: stb-tester support for "virtual" set-top boxes.
 Allows testing software that runs on the host PC rather than on set-top box
 hardware. Installs the "stbt virtual-stb" command.

Package: stb-tester-gpl
Architecture: any
Depends: stb-tester (>> ${source:Upstream-Version}),
         python-libcec
Description: Optional stb-tester features that depend on GPL libraries.
 Installs the "hdmi-cec" control mechanism.
