Source: stb-tester
Maintainer: William Manley <will@stb-tester.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: curl,
               debhelper (>= 9),
               expect,
               gir1.2-gstreamer-1.0,
               gir1.2-gudev-1.0,
               git,
               gstreamer1.0-libav,
               gstreamer1.0-plugins-bad,
               gstreamer1.0-plugins-base,
               gstreamer1.0-plugins-good,
               gstreamer1.0-tools,
               gstreamer1.0-x,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libopencv-dev,
               liborc-0.4-dev,
               librsvg2-bin,
               lighttpd,
               moreutils,
               pep8 (>= 1.3.4),
               pylint,
               python-docutils,
               python-flask,
               python-gobject,
               python-jinja2,
               python-lxml,
               python-nose,
               python-opencv,
               python-scipy,
               python-yaml,
               tesseract-ocr,
               tesseract-ocr-deu,
               tesseract-ocr-eng,
               xdotool
               tesseract-ocr,
               v4l-utils

Package: stb-tester
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         curl,
         gir1.2-gstreamer-1.0,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-tools,
         gstreamer1.0-x,
         lsof,
         moreutils,
         openssh-client,
         pylint,
         python (>= 2.7),
         python-flask,
         python-gobject,
         python-jinja2,
         python-lxml,
         python-opencv,
         snmp,
         tesseract-ocr,
         tesseract-ocr-eng,
         xdotool
Description: Automated User Interface testing for set-top boxes. 
 stb-tester tests a set-top-box by issuing commands to it using a remote-control
 and checking that it has done the right thing by analysing what is on screen.
 Test scripts are written in Python and can be generated with the `stbt record`
 command.

Package: stb-tester-camera
Architecture: any
Depends: stb-tester (>> ${source:Upstream-Version}),
         gir1.2-gudev-1.0,
         gstreamer1.0-libav,
         lighttpd,
         v4l-utils
Recommends: python-matplotlib,
            python-scipy
Description: Support for using a camera pointed at a TV as input for
 stb-tester.  This is useful for testing apps running on Smart TVs.
