#!/usr/bin/make -f

export prefix=/usr
export libexecdir=/usr/lib
export sysconfdir=/etc
export pythondir=/usr/lib/python2.7/dist-packages

%:
	dh $@

# Disable `make check` for now as it gives us difficulty on Ubuntu's PPA build
# farm.  Specifically the lack of a terminal prevents expect from working and
# there are timing issues due to the load the build machines are under.
# TODO: Investigate and re-enable `make check` by removing the following:
override_dh_auto_test :
	true

override_dh_auto_install :
	make install-core DESTDIR=debian/stb-tester
	make install-virtual-stb DESTDIR=debian/stb-tester-virtual-stb
	make install-gpl DESTDIR=debian/stb-tester-gpl
